/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: white;
  margin: 30 px ;
  padding: 20px;
  background-color: red;
  width: 100%;
  

}
h4{
  color:blanchedalmond;
}
#outer-box{
 background-color: blueviolet;


}